OPENCODE_GO_API_KEY=your_opencode_go_key_here
DUOLINGO_EMAIL=you@example.com
DUOLINGO_PASSWORD=your_password_here

AGENT_MODEL=deepseek-v4-flash
VISION_MODEL=qwen3.5-plus
MAX_TURNS=150
MODEL_MAX_TOKENS=1200
VISION_MAX_TOKENS=500
API_RETRIES=5
API_RETRY_DELAY=3
MODEL_INCLUDE_USAGE=true
QWEN_ENABLE_THINKING=false
MCP_VISION=false
BROWSER_EXECUTABLE=/usr/bin/chromium
BROWSER_HEADLESS=true
BROWSER_USER_DATA_DIR=.browser-profile
DUOLINGO_URL=https://www.duolingo.com
DUOLINGO_ALLOWED_HOSTS=duolingo.com,.duolingo.com,d1vq87e9lcf771.cloudfront.net,d35aaqx5ub95lt.cloudfront.net,d2pur3iezf4d1j.cloudfront.net,d3kwyfyztuo0xs.cloudfront.net
